# Exercícios

## 1) Considerando o código abaixo, faça:
    -> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
    -> Preencha os valores faltantes com a média dos valores
    -> Retorne uma lista dos animais únicos
    -> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

In [11]:
# resposta 1a
import pandas as pd
import numpy as np

In [12]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [13]:
# resposta 1a
df = pd.DataFrame(data)
print(df)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [14]:
# resposta 1a
df = pd.DataFrame(data, labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [15]:
# resposta 1b
print(df.fillna(df.mean()))

  animal     age  visits priority
a    cat  2.5000       1      yes
b    cat  3.0000       3      yes
c  snake  0.5000       2       no
d    dog  3.4375       3      yes
e    dog  5.0000       2       no
f    cat  2.0000       3       no
g  snake  4.5000       1       no
h    cat  3.4375       1      yes
i    dog  7.0000       2       no
j    dog  3.0000       1       no

In [16]:
# resposta 1c
dfuniques = df['animal']
print(dfuniques)
print(dfuniques.unique())
#uniques = obj.unique()

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object
['cat' 'snake' 'dog']

In [17]:
# resposta 1d
df.describe()
print(df.sum())
print(df.sum(axis=1))
print(df.count())

animal      catcatsnakedogdogcatsnakecatdogdog
age                                       27.5
visits                                      19
priority              yesyesnoyesnononoyesnono
dtype: object
a    3.5
b    6.0
c    2.5
d    3.0
e    7.0
f    5.0
g    5.5
h    1.0
i    9.0
j    4.0
dtype: float64
animal      10
age          8
visits      10
priority    10
dtype: int64

## 2) Considerando o mesmo código, faça:
    -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
    -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados. Retorne o dataframe ordenado de forma descendente
    -> Verifique se os animais da seguinte lista pertencem aos dados originais: New_animals = [‘cow’,’horse’,shark’]

In [18]:
# resposta 2a
def MultVisits(x):   
    return (x*2)
   
df['visits'].apply(MultVisits)   

    #dfVisits = df['visits']    
    #print(dfVisits)
    #dfVisits2 = dfVisits = df['visits'] *2
    #print(dfVisits2)

a    2
b    6
c    4
d    6
e    4
f    6
g    2
h    2
i    4
j    2
Name: visits, dtype: int64

In [21]:
# resposta 2b
def insCol():
    df['animal'].rank()
    df['rank'] = df['animal'].rank()
    return(df)
#df
x = insCol()
print(x)

  animal  age  visits priority  rank
a    cat  2.5       1      yes   2.5
b    cat  3.0       3      yes   2.5
c  snake  0.5       2       no   9.5
d    dog  NaN       3      yes   6.5
e    dog  5.0       2       no   6.5
f    cat  2.0       3       no   2.5
g  snake  4.5       1       no   9.5
h    cat  NaN       1      yes   2.5
i    dog  7.0       2       no   6.5
j    dog  3.0       1       no   6.5

In [54]:
# resposta 2c
New_animals = ['cow','horse','shark']
df['animal'].isin(New_animals)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: animal, dtype: bool

## 3) Crie uma função que filtre as linhas do df no código abaixo de acordo com a palavra-chave passada como parâmetro (apenas estado):

In [29]:
df = pd.DataFrame({'DateofBirth':['1986-11-11','1999-05-12','1976-01-01',
                                  '1986-06-01','1983-06-04','1990-03-07',
                                  '1999-07-09'],
                   'State':['NY','TX','FL','AL','AK','TX','TX']},
                 index=['Jane','Nick','Aaron','Penelope','Dean',
                        'Christina','Cornelia'])
print(df)

          DateofBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [31]:
df
#df['State']
#df.filter(like='NY')


def acharEstado(dframe, estado):
    estado = dframe[dframe['State'] == estado]
    return estado

acharEstado(df, 'NY')

     DateofBirth State
Jane  1986-11-11    NY